# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific
/.angular/cache/
*.log
*.tsbuildinfo

# Environment files
/src/environments/environment*.ts

# Build outputs
/dist/
/out-tsc/
.vscode/
/.idea/

# System files
.DS_Store
Thumbs.db

# macOS system files
*.swp
*.swo
*.lock

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
bin/
obj/

# Logs
*.log

# Publish output
publish/
wwwroot/

# Configuration files
appsettings*.json

# Rider IDE files
.idea/

# NPM or Yarn logs
.yarn/
.pnp/
.pnp.js
